@import "clearfix";

.none {
  display: none;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.pull {
  &_left {
    float: left;
  }

  &_right {
    float: right;
  }
}

.text {
  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }
}

.clearfix {
  @include clearfix();
}
