.none {
    display: none !important;
}

.visible {
    visibility: visible !important;
}

.hidden {
    visibility: hidden !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}
